*.json
/dist/*
/node_modules/**
index.html
yarn.lock
README.md
**/*.svg
**/*.ico
package.json
package-lock.json
.DS_Store
.eslintignore
*.png
.editorconfig
.gitignore
.prettierignore
.eslintcache
*.lock
yarn-error.log
